<div class="flex flex-col justify-center items-center">
  <div class="flex justify-center text-5xl text-[#337ab7] mb-6">
    <span>Sign Up</span>
  </div>

  <%= form_with(model: user, class: "flex flex-col justify-between gap-4 w-full max-w-sm") do |form| %>

    <% if user.errors.any? %>
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <span class="font-medium">
          <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:
        </span>
        <ul class="list-disc list-inside mt-2">
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :email, nil, class: "mb-2 text-lg font-lg text-black block" %>
      <%= form.text_field :email,
        class: "border border-gray-400 text-black text-sm rounded-lg
                focus:ring-blue-500 focus:border-blue-500
                w-full block p-2.5" %>
    </div>

    <div>
      <%= form.label :password, nil, class: "mb-2 text-lg font-lg text-black block" %>
      <%= form.password_field :password,
        class: "border border-gray-400 text-black text-sm rounded-lg
                focus:ring-blue-500 focus:border-blue-500
                w-full block p-2.5" %>
    </div>

    <div>
      <%= form.label :password_confirmation, "Confirm Password",
        class: "mb-2 text-lg font-lg text-black block" %>
      <%= form.password_field :password_confirmation,
        class: "border border-gray-400 text-black text-sm rounded-lg
                focus:ring-blue-500 focus:border-blue-500
                w-full block p-2.5" %>
    </div>

    <div class="flex justify-center">
      <%= form.submit "Sign Up",
        class: "text-white mt-2 bg-blue-700 hover:bg-blue-800
                focus:ring-4 focus:outline-none focus:ring-blue-300
                font-lg rounded-lg text-lg sm:w-auto
                px-4 py-2 text-center" %>
    </div>

  <% end %>
</div>
